@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
    --foreground: #050505;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* for home page ============ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
/* ?================ */


@media print {
  /* 1. Hide everything inside your normal root/body */
  body * {
    visibility: hidden;
  }
  
  /* 2. Force ONLY the print section to show up */
  #print-receipt-section, #print-receipt-section * {
    visibility: visible;
  }
  
  /* 3. Position it perfectly at the top left of the thermal sheet */
  #print-receipt-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}